# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env
*.env.local

# Build outputs
frontend/dist/
dist/

# Logs
*.log
npm-debug.log*


# Editor/System files
.vscode/
.idea/
.DS_Store
Thumbs.db
